<div class="bg-[#1A6B68] p-3 rounded-lg min-h-[90px] max-h-[250px] flex">
  <form [formGroup]="newMessageForm" (ngSubmit)="sendMessage()" class="w-full">
    <div class="flex">
      <textarea
        #textarea (input)="onInput()"
        (keydown.enter)="sendMessageOnEnter($any($event))"
        class="w-full min-h-[90px] max-h-[200px] bg-transparent border-none resize-none outline-none text-white"
        placeholder="Digite sua mensagem..."
        formControlName="message"
      ></textarea>
      <div class="flex justify-end mt-2 items-end">
        <button type="submit" mat-icon-button class="">
          <lucide-angular
            [img]="sendHorizontal"
            color="white"
            size="20"
          ></lucide-angular>
        </button>
      </div>
    </div>
  </form>
</div>