<div
  class="bg-[#171717] h-full w-full flex flex-col justify-center items-center"
>
  <p class="text-white font-bold text-lg mb-5">Iniciar novo chat</p>
  <form
    [formGroup]="newChatForm"
    (ngSubmit)="createNewChat()"
    class="flex flex-col gap-5"
  >
    <div class="flex gap-2 items-center">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="p-2 rounded-lg bg-[#222222] text-white w-full"
      />
    </div>
    <div>
      <button
        type="submit"
        class="bg-[#1A6B68] text-white p-2 rounded-lg w-full"
      >
        Criar Chat
      </button>
    </div>
  </form>
</div>
